<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый работник</title>
</head>
<body>
<h1>Новый работник</h1>

<form th:action="@{/employees/add}" th:method="post" th:object="${employee}">
    <label th:for="username">Имя пользователя:</label><br/>
    <input th:type="text" th:field="*{username}" id="username"/>
    <br/>
    <label th:for="password">Пароль:</label><br/>
    <input th:type="password" th:field="*{password}" id="password"/>
    <br/>
    <label th:for="confirmPassword">Подтвердить пароль:</label><br/>
    <input th:type="password" th:field="*{confirmPassword}" id="confirmPassword"/>
    <br/>
    <label th:for="firstName">Имя:</label><br/>
    <input th:type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label th:for="lastName">Фамилия:</label><br/>
    <input th:type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label th:for="dateOfBirth">Дата рождения:</label><br/>
    <input th:type="date" th:field="*{dateOfBirth}" id="dateOfBirth"/>
    <br/>
    <label th:for="email">Email:</label><br/>
    <input th:type="text" th:field="*{email}" id="email"/>
    <br/>
    <label th:for="phoneNumber">Номер телефона:</label><br/>
    <input th:type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <br/>
    <label th:for="accountNumber">Номер счета:</label><br/>
    <input th:type="text" th:field="*{accountNumber}" id="accountNumber"/>
    <br/>
    <label>
        <input th:type="submit" th:value="Сохранить"/>
    </label>
</form>
</body>
</html>